<div class="container">
    <div class="card">
        <div class="card-body">
            <h1>Welcome to Admin Panel</h1>
            <ul class="list-group mt-3">
                <li class="list-group-item"><a href="/admin/library">Library Management</a></li>
                <li class="list-group-item"><a href="/admin/events/">Events Management</a></li>
            </ul>
        </div>
    </div>
</div>


