<div class="container">
          <div class="card">
            <div class="card-header">
              <strong>Horizontal</strong> Form
            </div>
            <div class="card-body card-block">
              <form method="post" class="form-horizontal" enctype="multipart/form-data">
                <div class="row form-group">
                  <div class="col-md-3" style="text-align: right">
                    <label class=" form-control-label">Name :</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" name="name" class="form-control" qqqqq="">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-3" style="text-align: right">
                    <label class=" form-control-label">Author :</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" name="author" class="form-control" qqqqq="">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-3" style="text-align: right">
                    <label class=" form-control-label">Year :</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" name="year" class="form-control" qqqqq="">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-3" style="text-align: right">
                    <label class=" form-control-label">Description :</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" name="description" class="form-control" qqqqq="">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-3" style="text-align: right">
                    <label class=" form-control-label">File :</label>
                  </div>
                  <div class="col-md-9">
                    <input type="file" accept="application/pdf" name="file" class="form-control" qqqqq="">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-3" style="text-align: right">
                    <label class=" form-control-label">Image :</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" name="image" class="form-control" qqqqq="">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-3" style="text-align: right">
                    <label class=" form-control-label">Category :</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" name="category" class="form-control" qqqqq="">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-3" style="text-align: right">
                    <label class=" form-control-label">Color :</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" name="color" class="form-control" qqqqq="">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-dot-circle-o"></i> Submit
              </button>
              
              </form>
            </div>
          </div>  
        </div>